<h1>Edition</h1>

<div class="edition"> 

   <form action="/xmlview/save/{{ file_name }}" method="post">
   {% csrf_token %}
       <!-- 
       <label for="file_name">File name:</label> 
       <input type="text" id="file_name" name="file_name" 
                     value="{{ file_name}}"/> 
       --> 
       <ul>
           <li>
             <label for="a">Champ a:</label> 
             <input type="text" id="a" name="a" 
                     value="{{ file_data.a }}"/> 
           </li>
           <li>
             <label for="a_prop">Attribut a[prop]:</label> 
             <input type="text" id="a_prop" name="a_prop" 
                     value="{{ file_data.a.attrib.prop }}"/> 
           </li>
           <li>
             <label for="a.a1">Champ a.a1:</label> 
             <input type="text" id="a.a1" name="a.a1" 
                     value="{{ file_data.a.a1 }}"/> 
           </li>
           <li>
             <label for="b">Champ b:</label> 
             <input type="text" id="b" name="b" 
                     value="{{ file_data.b }}"/> 
           </li>
       </ul>
      <a href="/xmlview/">Cancel</a>
      <input type="submit" value="Save" />
   </form>
   
</div> 

